// Make work with widths 320px and 500px for mobile. Max height: 926px

#home-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)),
    url(../images/Hero_Img_Main_Page.jpg) no-repeat center;
  background-size: cover;
  height: 220px;
  color: $white;
  .scrim {
    display: flex;
    flex-direction: column;
    text-align: center;
    h2 {
      font-family: "Frutiger";
      font-weight: 100;
      font-style: normal;
      font-size: 2.5rem;
      margin-top: 7rem;
      margin-bottom: 1rem;
      letter-spacing: 0.3rem;
    }
    h1 {
      font-family: "Frutiger";
      font-weight: 400;
      font-style: normal;
      font-size: 4rem;
    }
  }
}

#home-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 2rem;
  .nav-tile {
      max-width: 500px;
      margin: 0rem 2rem 2rem 2rem;
      h2{
        font-family: "Frutiger";
        font-weight: 100;
        font-style: normal;
        font-size: 2rem;
        padding: 1rem;
      }
  }
}
