@mixin header {
    header {
        color: $white;
        background-color: $black;
        height: 70px;
        padding-top: 2.5rem;
        #link{
            padding-left: 2rem;
            position: absolute;
            a {
                img {
                    max-width: 24px;
                    height: auto;
                }
            }
        }
        #title {
            font-size: 2rem;
            padding-top: .5rem;
            text-align: center;
            h2 {
                font-family: "Frutiger";
                font-weight: 100;
            }
        }
    }
}