#tour-wrapper {
    @include header;
    
}

#VR-tour-header{
    color: $white;
    background-color: $black;
    height: 70px;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    #link{
        font-size: 3rem;
        padding-left: 2rem;
        position: absolute;
        a {
          img {
              max-width: 24px;
              height: auto;
          }
      }
    }
    #title {
        font-size: 2.4rem;
        text-align: center;
        h2 {
            font-family: "Frutiger";
            font-weight: 100;
        }
    }
}

#fixed-wrapper-vr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .nav-buttons {
      display: flex;
    //   bottom: 0;
    //   position: fixed;
      a {
        display: block;
        font-family: "frutiger";
        background-color: $white;
        color: $black;
        font-size: 2rem;
        padding: 1.5rem 2rem 1rem 2rem;
        border-radius: 15px 15px 15px 15px;
        margin: 2rem;
      }
    }
  }